* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/*header*/
header {
  background-color: #000;
  color: #fff;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 10;
}
header ul {
  display: flex;
  justify-content: space-between;
}
header ul li {
  width: calc(100% / 4);
  text-align: center;
}
header ul li a {
  width: 100%;
  padding: 1rem 0px;
  display: inline-block;
}

header ul li:hover {
  color: #222;
  background-color: #fff;
}

/*container*/
#container {
  position: fixed;
  width: 100%;
}

#container section {
  width: 100%;
  height: 100vh;
}

#container section.page1 {
  border: 1px solid red;
  background-color: #fff;
  color: #000;
  position: relative;
}
#container section.page2 {
  background-color: pink;
}
#container section.page3 {
  background-color: lightblue;
}
#container section.page4 {
  background-color: orange;
}

/* container */
/* page1 */
#container section h1 {
  border: 1px solid red;

  width: 100%;
  position: absolute;
}
#container section .phone1 {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 15px;
}

#container section .E-Mail01 {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
#container section .wrap {
  position: absolute;
  bottom: 10%;
}
